<?xml version="1.0"?>
<configuration>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp"
					  extension=".cs"
					 
					  type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.3500.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="1" />
		</compilers>
	</system.codedom>
	<system.diagnostics>
		<switches>
			<add name="Servicios" value="2" />
			<!-- Set to 0, 1, 2, 3, or 4, which corresponds
      to TraceLevel.Off, TraceLevel.Error, TraceLevel.Warning
      TraceLevel.Info, and TraceLevel.Verbose. -->
		</switches>
	</system.diagnostics>
</configuration>